.modal__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  background: white;
  padding: 1.5em;
  border-radius: 3px;
}

.modal__header {
  display: flex;
  justify-content: flex-end;
}

.modal__close {
  font-size: 1.5rem;
  color: var(--blue);
  cursor: pointer;
}
