.button {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.5em 0.8em;
  border: 1px solid var(--blue);
  border-radius: 3px;
  background: var(--blue);
  color: white;
  cursor: pointer;
  outline: none;
}
