.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4em;
  padding: 0 2em;
  border-bottom: 1px solid var(--light-grey);
}

.header__logo {
  font-size: 3rem;
  color: var(--blue);
}

.header__left {
}

.header__right > *:not(:last-child) {
  margin-right: 1em;
}
